<!DOCTYPE html>
<html lang=""en>
<head>
    <link rel="stylesheet" href="style.css">
        <title>Onyx Cougar</title>
</head>
<body>
    <div>
        <header>
            Onyx Cougar
        </header>
        <aside>
            Shopping Categories
        </aside>
        <main>
            <ul>
                <li>Product 1</li>
                <li>Product 2</li>
                <li>Product 3</li>
                <li>Product 4</li>
                <li>Product 5</li>
            </ul>
        </main>
        <footer>
            &copy; 2024 Onyx Cougar
        </footer>
    </div>
</body>
<html>
    